* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1500px;
}

.container {
	display: flex;
	justify-content: center;
}

.example {
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 50px 0;
	background-color: #d6e9fe;
	border: 1px solid black;
}

.item img {
	display: block;
}

.item-relative {
	position: relative;
	top: -30px;
	left: -30px;
}

.absolute {
	position: relative;
}
.item-absolute {
	position: absolute;
	top: 10px;
	left: 10px;
}

.item-fixed {
	position: fixed;
	right: 0;
	bottom: 0;
}
