.gif_search {
    margin-top: 10px;
}

.search_box {
    min-width: 35vw;
    min-height: 7vh;
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 20px 20px 50px 5px #83888e;
}

.search_text {
    font-weight: bold;
    font-size: medium;
}